{%
  set classes = [
    'card p-6 flex gap-6 items-center',
    color == 'base' ? 'bg-base-200 text-base-content-200',
    color == 'primary' ? 'bg-primary-500 text-primary-content-500',
    color == 'secondary' ? 'bg-secondary-500 text-secondary-content-500',
  ]
%}
<div class="{{ classes|join(" ") }}">
  <div>
    {{ neo_image_style(image.src, {scaleCrop: {width: 300, height: 200}}, image.alt) }}
  </div>
  <div>
    <div class="flex flex-col gap-2">
      {% if title %}
        <h2 class="text-xl font-bold">{{ title }}</h2>
      {% endif %}
      {% if email %}
        <div><a class="btn" href="mailto:{{ email }}">{{ email }}</a></div>
      {% endif %}
      {% if link %}
        {{ link(link.title, link.uri)|neo_class('btn btn-sm')}}
      {% endif %}
      {% if items %}
        <ul class="list-disc list-inside">
          {% for item in items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  {% if wow %}
    {%
      set wow_classes = [
        'p-6',
        wow.color == 'base' ? 'bg-base-200 text-base-content-200',
        wow.color == 'primary' ? 'bg-primary-500 text-primary-content-500',
        wow.color == 'secondary' ? 'bg-secondary-500 text-secondary-content-500',
      ]
    %}
    <div class="{{ wow_classes|join(" ") }}">
      {{ wow.more }} <strong>{{ wow.many}}</strong>
    </div>
  {% endif %}
  {% if sequence %}
    <div class="flex gap-6">
      {% for item in sequence %}
        <div class="flex items-center gap-2">
          {% if item.image %}
            {{ neo_image_style(item.image.src, {scaleCrop: {width: 300, height: 200}}, item.image.alt) }}
          {% endif %}
          <div class="flex flex-col">
            <div class="font-bold">{{ item.title }}</div>
            <div>{{ item.url.uri }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="first">
    {% block first %}{% endblock %}
  </div>

</div>
